
<p>Find me in app/views/questions/ask.html.erb</p>

<div class="form-container">
  <form action="answer" class="form-group form-inline">
    <input type="text" name="question" method="get" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-danger">
  </form>
</div>


